membership_snapshots.rda
yaml
committee_membership.rda
committees_current.rda
committees-current.yaml
legislators-current.csv
legislators-historical.csv
committee-membership-2019-03-28.yaml
committee-membership-2020-12-07.yaml
committee-membership-2020.yaml
committee-membership-2026-05-01.yaml
committee_membership_116th.rda
committees_membership_106-115.rda
house_assignments_103-115-3.xls
house_members_103-115-2.xlsx
members_committees.rda
members_committees_106-115th.rda
members_committees_116th.rda
members_committees_2020.rda
members_committees_oversight.rda
membership_per_congress.rda
missing_committees_106-115th.csv
missing_committees_116th.csv
oversight_committee_data.rda
senate_assignments_103-115-3.xls
senators_103-115-2.xls
